.card{
    width: 70%;
    border-radius:30px ;
    height: 70%;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}


.auth-img>img{
    width: 80%;

}

.auth{
    height: 92vh;
}